body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

#head {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
}

#head .inner {
  width: 960px;
  margin: auto;
}

#m2014 {
  font-weight: bold;
  float: left;
}

#clock {
  font-size: 20px;
  float: right; 
  color: #888;
}

#body {
  width: 100%;
  overflow: hidden;
}

#body .inner {
  width: 100%;
  padding: 20px;
  margin: 0 -20px;
  box-shadow: inset 0 0 7px #333;
  background: url("http://subtlepatterns.com/patterns/kindajean.png") repeat scroll 0 0 #EEE;
}

#flag {
  height: 400px;
  width: 960px;
  background-color: #EF4135;
  box-shadow: 1px 1px 5px #555;
  margin: 40px auto;  
  overflow: hidden;
}

#flag > * {
  width: 30px;
  height: 400px;
  float: left;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
  cursor: pointer;
  position: relative;
}

#flag .red {
  color: white;
  background-color: #EF4135;
}

#flag .white {
  color: #333;
}

#flag .blue {
  color: white;
  background-color: #0055A4;
}

#flag.red .red, #flag.blue .blue, #flag.white .white { 
  width: 900px;
}
